<main>
  <div class="home__container text-center">
    <div class="center__wrapper">
      <h2 class="section-title">Login / register</h2>
      <% if(@user.errors.any?) %>
        <div class="alert alert-danger" role="alert">
          <%= @user.errors.full_messages.join('<br />') %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= form_for(@user,  html: {class: 'app__form shadow'}) do |form|%>
        <div class="form-group text-left">
          <%= form.label(:email)%>
          <%= form.text_field(:email, placeholder: 'e.g. me@yahoo.com', class: 'form-control')%>
        </div>
        <%= form.submit('Log in', class: 'btn app__btn app__btn-blue app__btn-shadow')%>
      <% end %>
    </div>
  </div>
</main>
